{#
/**
 * @file
 * Theme override for a field.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 */
#}
{%
  set classes = [
    'accordion',
    'accordion-style',
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
    label_display == 'inline' ? 'clearfix',
  ]
%}
{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{% if label_hidden %}
  <div class="accordion" id="accordion{{ field_name }}">
    {% for item in items %}
      {% set paragraph = item.content['#paragraph'] %}
      {% set title = paragraph.field_titre_de_l_accordeon.value %}
      {% set content = paragraph.field_contenu_de_l_accordeon.value %}
      
      {# Utiliser loop.index pour garantir des identifiants uniques #}
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading{{ field_name }}{{ loop.index }}">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ field_name }}{{ loop.index }}" aria-expanded="false" aria-controls="collapse{{ field_name }}{{ loop.index }}" onclick="toggleAccordion(this)">
            {{ title }}
          </button>
        </h2>
        <div id="collapse{{ field_name }}{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="heading{{ field_name }}{{ loop.index }}" data-bs-parent="#accordion{{ field_name }}">
          <div class="accordion-body">
            {{ content|raw }}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% else %}
  <div{{ attributes.addClass(classes) }}>
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
    {% if multiple %}
      <div class="field__items">
    {% endif %}
    {% for item in items %}
      <div{{ item.attributes.addClass('field__item') }}>{{ item.content }}</div>
    {% endfor %}
    {% if multiple %}
      </div>
    {% endif %}
  </div>
{% endif %}

<script>
  function toggleAccordion(button) {
    let accordionItem = button.closest('.accordion-item');
    if (accordionItem.classList.contains('open')) {
      accordionItem.classList.remove('open');
    } else {
      let allAccordionItems = document.querySelectorAll('.accordion-item');
      allAccordionItems.forEach(function(item) {
        item.classList.remove('open');
      });
      accordionItem.classList.add('open');
    }
  }
</script>

