

<nav class="tabs-wrapper tabs-primary is-collapsible" id="block-openig-tabs">
  <ul class="nav nav-tabs flex-column flex-md-row primary clearfix">
    <li class="nav-item" id="nbContenuEditorial" data-id="">
      <a class="nav-link" href="{{ pathSearchInternal }}">Résultats de la recherche sur le contenu éditorial</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active is-active" aria-current="page" href="{{ pathSearchExternal }}" >Résultats de la recherche sur les datas</a>
    </li>
  </ul>
</nav>


<div class="search-results container">
  {# filtres #}
  <div class="view-content container">
    <div class="formulaire_filtre d-xl-block d-none">
      <button type="button" class="btn-close-filtre"><i class="fa-solid fa-xmark"></i></button>
      <h2>Filtrer la recherche</h2>
      <div class="d-xl-block d-none">

        <form class="{{ search_filter_form['#attributes'].class[0] }}"
              data-drupal-selector="{{ search_filter_form['#attributes'].data-drupal-selector }}" action="/recherche/ressources_externes"
              id="{{ search_filter_form['#id'] }}">

          {% if facets.lineage %}
            <details id="edit-source-collapsible--2" class="form-item js-form-wrapper form-wrapper card">
              <summary role="button" aria-controls="edit-type-collapsible--2" aria-expanded="false"
                       class="card-header bg-light">Sources
                <span class="summary"></span>
              </summary>
              <div class="details-wrapper card-body">
                <div class="form-checkboxes bef-checkboxesy">
                  {% for source in facets.lineage %}
                    <div class="js-form-item form-item js-form-type-checkbox form-type-checkbox">
                      <input
                        type="checkbox"
                        name="lineage"
                        value="{{ source }}"
                        {{ source in filters.lineage ? 'checked="checked"' : '' }}
                        class="form-checkbox form-check-input"
                      >
                      <label class="option">
                        {% if source == "CKAN Datasets" %}
                          OPenIG - Jeux de données
                        {% elseif source == "OpenIG" %}
                          <span class="facet-item__label" title="Toutes les informations sur les activités d'OPenIG">OPenIG - Activités</span></label>
                        {% elseif source == "datasets" %}
                          <span class="facet-item__label"
                                title="Données open data Région Occitanie">data.laregion.fr</span></label>
                        {% elseif source == "dataset" %}
                          picto-occitanie.fr
                        {% else %}
                          {{ source }}
                        {% endif %}
                      </label>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </details>
          {% endif %}

          {% if facets.category %}
            <details id="edit-category-collapsible--2" class="form-item js-form-wrapper form-wrapper card">
              <summary role="button" aria-controls="edit-type-collapsible--2" aria-expanded="false"
                       class="card-header bg-light">
                Thématiques de connaissance et de données
                <span class="summary"></span>
              </summary>
              <div class="details-wrapper card-body">
                <div class="form-checkboxes bef-checkboxesy">
                  {% for cat in facets.category %}
                    <div class="js-form-item form-item js-form-type-checkbox form-type-checkbox">
                      <input
                        type="checkbox"
                        name="category"
                        value="{{ cat }}"
                        {{ cat in filters.category ? 'checked="checked"' : '' }}
                        class="form-checkbox form-check-input"
                      >
                      <label class="option">{{ cat }}</label>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </details>
          {% endif %}

          {% if facets.resource_format %}
            <details id="edit-format-collapsible--2" class="form-item js-form-wrapper form-wrapper card">
              <summary role="button" aria-controls="edit-type-collapsible--2" aria-expanded="false"
                       class="card-header bg-light">Formats
                <span class="summary"></span>
              </summary>
              <div class="details-wrapper card-body">
                <div class="form-checkboxes bef-checkboxesy">
                  {% for format in facets.resource_format %}
                    <div class="js-form-item form-item js-form-type-checkbox form-type-checkbox">
                      <input
                        type="checkbox"
                        name="resource_format"
                        value="{{ format }}"
                        {{ format in filters.resource_format ? 'checked="checked"' : '' }}
                        class="form-checkbox form-check-input"
                      >
                      <label class="option">{{ format }}</label>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </details>
          {% endif %}

          {#  Champs hidden pour permettre les requetes vers l'api #}
{#          {{ search_filter_form.fulltext }}#}
          {{ search_filter_form.category }}
          {{ search_filter_form.lineage }}
          {{ search_filter_form.resource_format }}

          <div class="form-actions">
            {{ search_filter_form.submit_desktop }}
            {{ search_filter_form.reset }}
          </div>
        </form>
      </div>
    </div>
  </div>

  {# btn filtrer #}
  <button type="button" class="btn_filtre"><i class="fa-regular fa-filter"></i>Filtrer</button>

  {# Content #}
  <div class="layout-content">
    <div class="page-content">
      {% if items|length > 0 and count > 0 %}
        <div class="search-result__count">Nombre de résultats : <span
            class="search-result__count_value"> {{ count }}</span></div>
      {% endif %}
      <div class="col-lg-10 col-12">
        <div class="views-view-responsive-grid views-view-responsive-grid--horizontal">
          {% for item in items %}
            <div class="views-view-responsive-grid__item" style="margin-bottom:10px;">
              <div class="views-view-responsive-grid__item-inner">

                <div class="views-field views-field-title">
                  <a href="{{ item.link }}" target="_blank">{{ item.title }}</a>
                </div>

                <div class="views-field views-field-field-description">
                  <span class="field-content">{{ item.description | raw }}</span>
                </div>

                <div class="views-field views-field-field-tag">
                   <span class="field-content">
                    {% for tag in item.tags %}
                      <a href="#">{{ tag }}</a>
                    {% endfor %}
                   </span>
                </div>

                <div class="d-flex justify-content-between">
                  <div class="search-result__source">
                    <span class="search-result__label">Source</span> :
                    {#                  {% if item.source == "CKAN Datasets" %} #}
                    {#                    OPenIG - Jeux de données #}
                    {#                  {% elseif item.source == "OpenIG" %} #}
                    {#                    OPenIG - Activité #}
                    {% if item.source == "datasets" %}
                      <a href="https://data.laregion.fr">data.laregion.fr</a>
                    {% elseif item.source == "dataset" %}
                      <a href="https://picto-occitanie.fr">picto-occitanie.fr</a>
                    {% else %}
                      {{ item.source }}
                    {% endif %}

                    {% if item.thumbnail %}
                      <img src="{{ item.thumbnail }}" alt="{{ item.title }}" class="search-result__thumbnail"/>
                    {% elseif item.source == "datasets" %}
                      <img src="{{ images_path  ~ 'pictograms/data-laregion.png' }}" alt="data.laregion.fr"
                           class="search-result__thumbnail">
                    {% elseif item.source == "dataset" %}
                      <img src="{{ images_path  ~ 'pictograms/picto-occitanie.png' }}" alt="picto-occitanie.fr"
                           class="search-result__thumbnail">
                    {% else %}
                      <div class="search-result__nothumbnail"></div>
                    {% endif %}
                  </div>
                  <div class="more-link-externe">
                    <a href="{{ item.link }}" target="_blank">En savoir plus</a>
                  </div>
                </div>

              </div>
            </div>
          {% endfor %}

          {% if items|length == 0 %}
            <div class="search-result__noresults">Aucun résultat ne correspond à vos critères de recherche.</div>
          {% endif %}

        </div>
      </div>

      {% if pager and (pager.count > 0) %}
        <nav class="pager">
          <ul class="pagination js-pager__items">
            {% for page in pager.pages %}
              {% if (page['label'] == "Précédent") %}
                <li class="page-item pager__item--previous">
                  <a href="{{ page['url'] }}" class="page-link"></a>
                </li>
              {% elseif (page['label'] == "Suivant") %}
                <li class="page-item pager__item--next">
                  <a href="{{ page['url'] }}" class="page-link"></a>
                </li>
              {% else %}
                <li class="page-item {{ pager['current'] == page.number ? 'is-active active' : '' }}">
                  <a href="{{ page['url'] }}?page={{ page['number'] }}" class="page-link"
                     data-id="{{ page['label'] }}">{{ page['label'] }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </nav>
      {% endif %}

    </div>
  </div>

</div>

