{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
<div class="row">
	{% if ('adherent' in user.getRoles()) or ('administrator' in user.getRoles()) or ('content_editor' in user.getRoles()) %}
		<div class="flex_content">
			<div class="formulaire_filtre d-xl-block d-none">
				<button type="button" class="btn-close-filtre"><i class="fa-solid fa-xmark"></i></button>
				<div class="">
				{{ render_block('openig_formulaireexposeannuaireannuaire') }}
				</div>
			</div>
			<div class="col-xl-1 col-lg-2 col-3 d-xl-block d-none">
				<button type="button" class="btn_filtre"><i class="fa-regular fa-filter"></i>Filtrer</button>
			</div>
	{% endif %}
	{% if ('adherent' in user.getRoles()) or ('administrator' in user.getRoles()) or ('content_editor' in user.getRoles()) %}
		<div class="d-none d-lg-block col-xl-11 col-lg-10 col-12">
	{% else %}
		<div class="d-none d-lg-block col-12">
	{% endif %}
		{% for row in rows %}
		{%
			set row_classes = [
			default_row_class ? 'views-row',
			]
		%}
		<div{{ row.attributes.addClass(row_classes) }}>
			{{- row.content -}}
		</div>
		{% endfor %}
	</div>
	<div class="accordion d-block d-lg-none col-12" id="accordionAnnuaire">
		{% for row in rows %}
		{%
			set row_classes = [
			default_row_class ? 'views-row',
			]
		%}
		<div{{ row.attributes.addClass(row_classes) }}>
			{{- row.content -}}
		</div>
		{% endfor %}
	</div>
	{% if ('adherent' in user.getRoles()) or ('administrator' in user.getRoles()) or ('content_editor' in user.getRoles()) %}
		</div>
	{% endif %}
</div>