{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 */
#}
{% if view.current_display == 'annuaire' %}
	<div class="d-lg-none d-block">
		{% for field in fields -%}
			{% if field.class == 'fieldset' %}
				{% if ('adherent' in user.getRoles()) or ('administrator' in user.getRoles()) or ('content_editor' in user.getRoles()) %}
					<h2 class="accordion-header" id="heading{{row.nid}}">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{row.nid}}" aria-expanded="false" aria-controls="collapse{{row.nid}}">
							{{field.content}}
						</button>
					</h2>
				{% else %}
					<h2 class="accordion-header accordion-disabled" id="heading{{row.nid}}">
						<button disabled='disabled' class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{row.nid}}" aria-expanded="false" aria-controls="collapse{{row.nid}}">
							{{field.content}}
							<p class="itemPrivate">Réservé aux adhérents<i class="fa-solid fa-lock"></i></p>
						</button>
					</h2>
				{% endif %}
			{% else %}
				<div id="collapse{{row.nid}}" class="accordion-collapse collapse" aria-labelledby="heading{{row.nid}}" data-bs-parent="#accordionAnnuaire">
					<div class="accordion-body">
						{{ field.separator }}
						{%- if field.wrapper_element -%}
							<{{ field.wrapper_element }}{{ field.wrapper_attributes }}>
						{%- endif %}
						{%- if field.label -%}
							{%- if field.label_element -%}
								<{{ field.label_element }}{{ field.label_attributes }}>{{ field.label }}{{ field.label_suffix }}</{{ field.label_element }}>
							{%- else -%}
								{{ field.label }}{{ field.label_suffix }}
							{%- endif %}
						{%- endif %}
						{%- if field.element_type -%}
							<{{ field.element_type }}{{ field.element_attributes }}>{{ field.content }}</{{ field.element_type }}>
						{%- else -%}
							{{ field.content }}
						{%- endif %}
						{%- if field.wrapper_element -%}
							</{{ field.wrapper_element }}>
						{%- endif %}
					</div>
				</div>
			{% endif %}
		{%- endfor %}
	</div>

	<div class="d-lg-block d-none">
		<div class="row">
			{% if ('adherent' in user.getRoles()) or ('administrator' in user.getRoles()) or ('content_editor' in user.getRoles()) %}
				<div class="col-10">
					{% for field in fields -%}
						{% if field.class == 'fieldset' %}
							{{field.content}}
						{% else %}
							{{ field.separator }}
							{%- if field.wrapper_element -%}
								<{{ field.wrapper_element }}{{ field.wrapper_attributes }}>
							{%- endif %}
							{%- if field.label -%}
								{%- if field.label_element -%}
									<{{ field.label_element }}{{ field.label_attributes }}>{{ field.label }}{{ field.label_suffix }}</{{ field.label_element }}>
								{%- else -%}
									{{ field.label }}{{ field.label_suffix }}
								{%- endif %}
							{%- endif %}
							{%- if field.element_type -%}
								<{{ field.element_type }}{{ field.element_attributes }}>{{ field.content }}</{{ field.element_type }}>
							{%- else -%}
								{{ field.content }}
							{%- endif %}
							{%- if field.wrapper_element -%}
								</{{ field.wrapper_element }}>
							{%- endif %}
						{% endif %}
					{%- endfor %}
					{% if groupes != null %}
						<div class="groupes">
							{% for groupe in groupes %}
								<div class="groupe">
									<a href="node/{{groupe.nid}}" target="_blank">{{groupe.title}}</a>
								</div>
							{% endfor %}
						</div>
					{% endif %}
					<div class="contacts">
						{% for contact in contacts %}
							<div class="contact">
								<div class="nom_prenom">
									<i class="fa-regular fa-user"></i>
									<span>{{contact['prenom']}}</span>
									<span>{{contact['nom']}}</span>
								</div>
								<a href="mailto:{{contact['mail']}}">{{contact['mail']}}</a>
							</div>
						{% endfor %}
					</div>
				</div>
				<div class="col-2">
					{% if membresCA == 'oui' %}
						<div>membresCA</div>
					{% endif %}
					{% if referents == 'oui' %}
						<div>referents</div>
					{% endif %}
				</div>
			{% else %}
				{% for field in fields -%}
					{% if field.class == 'fieldset' %}
						<div class="col-10">
							{{field.content}}
						</div>
						<div class="col-2 divPrivate">
							<p class="itemPrivate">Totalité du contenu réservé aux adhérents</p><i class="fa-solid fa-lock"></i>
						</div>
					{% endif %}
				{% endfor %}
			{% endif %}
		</div>
	</div>
{% else %}
	{% for field in fields -%}			
		{{ field.separator }}
		{%- if field.wrapper_element -%}
			<{{ field.wrapper_element }}{{ field.wrapper_attributes }}>
		{%- endif %}
		{%- if field.label -%}
			{%- if field.label_element -%}
				<{{ field.label_element }}{{ field.label_attributes }}>{{ field.label }}{{ field.label_suffix }}</{{ field.label_element }}>
			{%- else -%}
				{{ field.label }}{{ field.label_suffix }}
			{%- endif %}
		{%- endif %}
		{%- if field.element_type -%}
			<{{ field.element_type }}{{ field.element_attributes }}>{{ field.content }}</{{ field.element_type }}>
		{%- else -%}
			{{ field.content }}
		{%- endif %}
		{%- if field.wrapper_element -%}
			</{{ field.wrapper_element }}>
		{%- endif %}
	{%- endfor %}
{% endif %}