{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'page-node-type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
    (b5_body_schema == 'light' ? ' text-dark' : (b5_body_schema == 'dark' ? ' text-light' :  ' ')),
    (b5_body_bg_schema != 'none' ? " bg-#{b5_body_bg_schema}" : ' '),
    'd-flex flex-column'
  ]
%}

<!DOCTYPE html>
<html{{ html_attributes.addClass('h-100') }}>
  <head>
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">
  </head>
  <body{{ attributes.addClass(body_classes) }}>
    {#
      Keyboard navigation/accessibility link to main content section in
      page.html.twig.
    #}
    <div class="visually-hidden-focusable skip-link p-3 container">
      <a href="#main-content" class="p-2">
        {{ 'Skip to main content'|t }}
      </a>
    </div>
    {{ page_top }}
    {{ render_block('openig_imageenhautdepage') }}
    {{ render_block('openig_imageenhautdepagemobile') }}
    {% if root_path == 'les-actualites' %}
      <div class="d-xl-none d-block">
        <div class="formulaire_filtre">
          <button type="button" class="btn-close-filtre"><i class="fa-solid fa-xmark"></i></button>
          {{ render_block('openig_formulaireexposeles_actualitesactualites_mobile') }}
        </div>
      </div>
    {% elseif root_path == 'l-agenda' %}
      <div class="d-xl-none d-block">
        <div class="formulaire_filtre">
          <button type="button" class="btn-close-filtre"><i class="fa-solid fa-xmark"></i></button>
          {{ render_block('openig_formulaireexposel_agendaagenda_mobile') }}
        </div>
      </div>
    {% elseif root_path == 'annuaire' %}
      {% if ('adherent' in user.getRoles()) or ('administrator' in user.getRoles()) or ('content_editor' in user.getRoles()) %}
        <div class="d-xl-none d-block">
          <div class="formulaire_filtre">
            <button type="button" class="btn-close-filtre"><i class="fa-solid fa-xmark"></i></button>
            {{ render_block('openig_formulaireexposeannuaireannuaire_mobile') }}
          </div>
        </div>
      {% endif %}
    {% elseif root_path == 'recherche' %}
      {% if theme_hook_suggestions[1] == '' %}
        <div class="d-xl-none d-block">
          <div class="formulaire_filtre">
            <button type="button" class="btn-close-filtre"><i class="fa-solid fa-xmark"></i></button>
            {{ render_block('openig_formulaireexposeresultats_de_recherche_internal_mobile') }}
          </div>
        </div>
      {% else %}
        <div class="d-xl-none d-block">
          <div class="formulaire_filtre">
            <button type="button" class="btn-close-filtre"><i class="fa-solid fa-xmark"></i></button>
            {{ render_block('openig_searchexternalfilterblock_mobile') }}
          </div>
        </div>
      {% endif %}
    {% endif %}
    {{ page }}
    {{ render_block('openig_imageenbasdepage') }}
    {{ render_block('openig_imageenbasdepagemobile') }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token }}">
  </body>
</html>
