{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{%
  set classes = [
    'region',
    'region-' ~ region|clean_class,
    'container'
  ]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div class="first_line">
      {% if not logged_in %}
        {{ drupal_menu('adhesion') }}
        {{ drupal_block('openid_connect_login') }}
      {% endif %}
      <div id="block-openig-faq-mobile--2" class="contextual-region block block-system block-system-menu-blockfaq">
        {{ drupal_menu('faq') }}
      </div>
    </div>
      {{ drupal_block('views_exposed_filter_block:resultats_de_recherche-block_1', {
        'id': 'openig-formulairederecherche-mobile',
        'label_display': '0'
      }, wrapper=true) }}
    <div id="block-openig-navigationprincipale--2" class="contextual-region block block-menu navigation menu--main">
      {{ drupal_menu('main') }}
    </div>
    {#{{ content }}#}
  </div>
{% endif %}
